<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Cadastro de Doença </title>

        {% load static %}
        
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="shortcut icon" href="{% static 'grafico.jpg' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Sistema de inserção de dados para Hospitais</h1></p>
            <p><h4>Hospital: Unimed</h4></p>
            <p><h4>Unidade: São José dos Campos</h4></p>
        </div>
        <div class='Adicionar'>
            <form action="/cadastro_doenca" id='Adicionar' method="post">
                <div id="atencao"></div>
                <div class="Add_data">
                    <p><h5>Nome</h5></p>
                    <input type="text" name="nome" id="nome" placeholder="Nome">
                </div>
                <div class="Add_doenca_assoc">
                    <p><h5>Sintomas</h5></p>
                    <input type="text" name="sintomas" id="sintomas" placeholder="Sintomas">
                </div>
                <br>
                <div id="BTN_add">
                    <button class="button_cad_doenca">Cadastrar</button>
                </div>
            </form>
        </div>
        <div id ="btn_retorno">
            <a href="/"><button class="Retorno" style="width:220px"> Retornar</button></a>
            <p id="mostrarHora"></p>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>