<!doctype html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title> Visualizar Doenças </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <link rel="shortcut icon" href="{% static 'grafico.jpg' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id='Cabecalho'>
            <p class="Titulo"><h1>Sistema de inserção de dados para Hospitais</h1></p>
            <p><h4>Hospital: Unimed</h4></p>
            <p><h4>Unidade: São José dos Campos</h4></p>
        </div>

        <div id="Tabela">
            <br>
            <p id="nome_tabela">VISUALIZAÇÃO DE DOENÇAS CADASTRADAS</p>
            <br>
            <br>
            <table class="center" rules="all">
                <thead>
                    <tr>
                        <th>Doença</th>
                        <th>Sintomas</th>
                        <th id="remover">Ação</th>
                    </tr>
                </thead>
                <tbody>
                   <!-- {% for e in doenca %}
                        <tr>
                            <td>{{e.nome}}</td>
                            <td>{{e.sintomas}}</td>
                            <td><a href="/delete/{{e.id}}">Excluir Regsitro</a></td>
                        </tr>
                    {% endfor %}-->
                </tbody>
            </table>
            <br>
        </div>
        
        <div id ="btn_retorno">
            <a href="/polls"><button class="Retorno" style="width:220px">Retornar</button></a>
            <p id="mostrarHora"></p>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>